<ion-header>
    <ion-toolbar>
        <ion-title color="primary">
            <span appTranslator word="contact"></span>
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card padding>
        <img src="../../assets/imgs/1.png" />
    </ion-card>
    <h1>
        <span appTranslator word="about"></span>
    </h1>
    <h2>
        <span appTranslator word="aboutUsTxt"></span>
    </h2>
    <h2>
        <span appTranslator word="aboutUsProgram"></span>
    </h2>
    <h2>
        <span appTranslator word="aboutUsParts"></span>
    </h2>
    <ion-list lines="none">
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon color="secondary" size="large" name="globe" icon-left></ion-icon>
            </ion-avatar>
            <div>
                <p>
                    <strong>
                        <span appTranslator word="website"></span>
                    </strong>
                </p>
                <p>
                    <span appTranslator word="websiteUsage"></span>
                </p>
            </div>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon color="secondary" size="large" name="logo-android"></ion-icon>
            </ion-avatar>
            <div>
                <p>
                    <strong>
                        <span appTranslator word="mobileApp"></span>
                    </strong>
                </p>
                <p>
                    <span appTranslator word="mobileAppUsage"></span>
                </p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
