<ion-header>
    <ion-toolbar>
        <ion-title color="primary">Kids</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card padding>
        <img src="http://primekidz.com/Content/images/about/1.png" />
        <ion-card-content>
            <ion-card-title color="tertiary">
                My Nursary
            </ion-card-title>
            <ion-list lines="none">
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="http://primekidz.com/Content/images/about/1.png" /> 
                    </ion-avatar>
                    <ion-label color="primary">
                        Kid1
                    </ion-label>
                </ion-item>
                <ion-button color="secondary" expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    Daily Report
                </ion-button>
                <ion-button color="danger" disabled expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    Notifications
                </ion-button>
                <ion-button color="tertiary" disabled expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    Monthly Report
                </ion-button>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card padding>
        <img src="http://primekidz.com/Content/images/screenshots/screen3.png" />
        <ion-card-content>
            <ion-card-title color="tertiary">
                My Nursary
            </ion-card-title>
            <ion-list lines="none">
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="http://primekidz.com/Content/images/about/1.png" />
                    </ion-avatar>
                    <ion-label color="primary">
                        Kid2
                    </ion-label>
                </ion-item>
                <ion-button color="secondary" expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    Daily Report
                </ion-button>
                <ion-button color="danger" disabled expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    Notifications
                </ion-button>
                <ion-button color="tertiary" disabled expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    Monthly Report
                </ion-button>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
