<ion-header>
    <ion-toolbar>
        <ion-title color="primary">
            <span appTranslator word="kids"></span>
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card padding>
        <img src="../../assets/imgs/1.png" />
        <ion-card-content>
            <ion-card-title color="tertiary">
                <span appTranslator word="nursary"></span>
            </ion-card-title>
            <ion-list lines="none">
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="../../assets/imgs/1.png" />
                    </ion-avatar>
                    <ion-label color="primary">
                        Kid1
                    </ion-label>
                </ion-item>
                <ion-button color="secondary" expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    <span appTranslator word="dailyReport"></span>
                </ion-button>
                <ion-button color="danger" disabled expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    <span appTranslator word="notifications"></span>
                </ion-button>
                <ion-button color="tertiary" disabled expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    <span appTranslator word="monthlyReport"></span>
                </ion-button>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card padding>
        <img src="../../assets/imgs/screen3.png" />
        <ion-card-content>
            <ion-card-title color="tertiary">
                <span appTranslator word="nursary"></span>
            </ion-card-title>
            <ion-list lines="none">
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="../../assets/imgs/1.png" />
                    </ion-avatar>
                    <ion-label color="primary">
                        Kid2
                    </ion-label>
                </ion-item>
                <ion-button color="secondary" expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    <span appTranslator word="dailyReport"></span>
                </ion-button>
                <ion-button color="danger" disabled expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    <span appTranslator word="notifications"></span>
                </ion-button>
                <ion-button color="tertiary" disabled expand="full">
                    <ion-icon name="home" icon-left></ion-icon>
                    <span appTranslator word="monthlyReport"></span>
                </ion-button>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
