<ion-header>
    <ion-toolbar>
        <ion-title color="primary">
            <span appTranslator word="login"></span>
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="form" (ngSubmit)="login()">
        <ion-list>
            <ion-item>
                <ion-label float>
                    <span appTranslator word="username"></span>
                </ion-label>
                <ion-input formControlName="username" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label float>
                    <span appTranslator word="password"></span>
                </ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-button expand="full" type="submit" [disabled]="!form.valid" >
                <span appTranslator word="login"></span>
            </ion-button>

        </ion-list>




    </form>
</ion-content>
