<ion-header>
    <ion-toolbar>
        <ion-title color="primary">
            <span appTranslator word="settings"></span>
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-row>
        <ion-col size="12" text-center>
            <ion-label>
                <span appTranslator word="changePassword"></span>
            </ion-label>
        </ion-col>

    </ion-row>

    <form [formGroup]="form" (ngSubmit)="changePassowrd()">
        <ion-list>
            <ion-item>
                <ion-label float>
                    <span appTranslator word="oldPassword"></span>
                </ion-label>
                <ion-input type="password" formControlName="oldPassword" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label float>
                    <span appTranslator word="newPassword"></span>
                </ion-label>
                <ion-input type="password"  formControlName="newPassword" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label float>
                    <span appTranslator word="confirmPassword"></span>
                </ion-label>
                <ion-input type="password"  formControlName="confirmPassword" ></ion-input>
            </ion-item>
            <ion-button expand="full" [disabled]="!form.valid">
                <span appTranslator word="changePassword"></span>
            </ion-button>

        </ion-list>
    </form>


</ion-content>
